<div class="w-full h-screen flex items-center justify-center bg-primary-200 text-blue-100">
  <form [formGroup]="register" autocomplete="off" (ngSubmit)="signUp()" class="w-[30%] text-center place-self-center flex flex-col gap-10 bg-secondary-900 p-8 rounded-2xl shadow-lg">
    <h1 class="text-4xl">Sign Up</h1>
    <div class="flex flex-col gap-3 relative">
      <label for="email" class="text-lg">Email</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        autocomplete="new-email"
        class="rounded-3xl px-4 py-3 bg-gray-200 focus-visible:outline-none text-black">
      <p class="text-red-500 error absolute -bottom-5 left-0 right-0 mx-auto" *ngIf="register.get('email')?.dirty && register.get('email')?.hasError('required')">Please enter your email</p>
      <p class="text-red-500 error absolute -bottom-5 left-0 right-0 mx-auto" *ngIf="register.get('email')?.dirty && register.get('email')?.hasError('email')">Please enter a correct email</p>
    </div>

    <div class="flex flex-col gap-3 relative">
      <label for="username" class="text-lg">Username</label>
      <input
        formControlName="username"
        type="text"
        id="username"
        autocomplete="new-username"
        class="rounded-3xl px-4 py-3 bg-gray-200 focus-visible:outline-none text-black">
      <p class="text-red-500 error absolute -bottom-5 left-0 right-0 mx-auto" *ngIf="register.get('username')?.dirty && register.get('username')?.hasError('required')">You must have a username</p>
    </div>

    <div class="flex flex-col gap-3 relative">
      <label for="password" class="text-lg">Password</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        autocomplete="new-password"
        class="rounded-3xl px-4 py-3 bg-gray-200 focus-visible:outline-none text-black">
        <p class="text-red-500 error absolute -bottom-5 left-0 right-0 mx-auto" *ngIf="register.get('password')?.dirty && register.get('password')?.hasError('required')">You must set a password</p>
    </div>

    <div class="flex flex-col gap-3 relative">
      <label for="confirmPass" class="text-lg">Confirm your password</label>
      <input
        formControlName="confirmPass"
        type="password"
        id="confirmPass"
        autocomplete="new-confPass"
        class="rounded-3xl px-4 py-3 bg-gray-200 focus-visible:outline-none text-black">
      <p class="text-red-500 error absolute -bottom-5 left-0 right-0 mx-auto" *ngIf="register.get('confirmPass')?.dirty && register.get('confirmPass')?.hasError('Password not match')">Password not match</p>
    </div>

    <button type="submit" class="w-[20%] rounded-2xl px-4 py-3 place-self-center whitespace-nowrap bg-secondary-400 hover:bg-secondary-200 active:bg-secondary-700">Sign Up</button>
    <a routerLink="login" >Already have an account? Sign In <b class="text-red-500 underline">HERE</b></a>
  </form>
</div>
