<div class="w-full h-full p-5 flex flex-col overflow-x-scroll">
  <table class="w-full border border-black overflow-hidden" *ngIf="{ delete: deleteSubmit | async } as subs">
    <thead>
      <tr class="w-full border-b border-black bg-secondary-500 text-white font-extrabold shadow-sm shadow-black">
        <td class="w-[4%] max-h-[14%] text-center border-r border-black">#</td>
        <td class="w-[20%] max-h-[14%] text-center">Title</td>
        <td class="w-[10%] max-h-[14%] text-center">Author</td>
        <td class="w-[15%] max-h-[14%] text-center">Tags</td>
        <td class="w-[31%] max-h-[14%] text-center">Description</td>
        <td class="w-[10%] max-h-[14%] text-center">created</td>
        <td class="w-[10%] max-h-[14%] text-center"></td>
      </tr>
    </thead>
    <tbody *ngIf="articles$ | async as articles">
      <tr *ngFor="let a of articles | paginate : {itemsPerPage:10, currentPage: page$.value, totalItems:290}; let i = index; let even = even"
          class="even:bg-secondary-800 even:text-blue-100 odd:bg-primary-100 odd:text-blue-100 rowtr">
        <td class="w-[4%] h-[68px] border-r border-black">{{ i + 1 }}</td>
        <td class="w-[20%] h-[68px] overflow-hidden whitespace-nowrap p-4 text-ellipsis"><span class="">{{a.title}}</span></td>
        <td class="w-[10%] h-[68px] p-4">{{a.author.username}}</td>
        <td class="w-[15%] h-[68px] overflow-hidden whitespace-nowrap p-4 text-ellipsis">
          <span *ngFor="let tag of a.tagList" class="text-wrap">{{ tag.length == 1 ? tag : tag+',' }}</span>
        </td>
        <td class="w-[31%] h-[68px] overflow-hidden whitespace-nowrap p-4 text-ellipsis"><span class="">{{a.description}}</span></td>
        <td class="w-[10%] h-[68px] overflow-hidden whitespace-nowrap p-4 text-ellipsis">{{a.createdAt.split('T')[0]}}</td>
        <td class="w-[10%] h-[68px] p-4">
          <div class="flex w-full justify-around items-center">
            <p-button pButton icon="pi pi-file-edit" class="p-button-info w-9 h-9" (click)="editArticle(i, a.slug)" pTooltip="Edit article" tooltipPosition="bottom"></p-button>
            <p-button pButton icon="pi pi-trash" class="p-button-danger w-9 h-9" (click)="deleteArticle(a.slug, $event)" pTooltip="Delete article" tooltipPosition="bottom"></p-button>
          </div>
        </td>
      </tr>
      <div class="w-full h-full flex items-center justify-center spn " *ngIf="loading">
        <i  class="pi pi-spin pi-spinner text-white self-center place-content-center text-4xl z-[1001]"></i>
      </div>
    </tbody>
  </table>
  <div class="w-full fixed bottom-5 right-0 flex justify-center items-center place-content-center">
    <pagination-controls (pageChange)="page$.next($event)"></pagination-controls>
  </div>
</div>

